<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <section class="content-header">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-heading">
              School Management
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Schools List</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-info btn-sm" (click)="createEditForm(schoolmodal, '')">
                <i class="fa fa-plus"></i> ADD SCHOOL </button>
            </div>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>School Name</th>
                      <th>School Code</th>
                      <th>School Address</th>
                      <th>Registered On</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let School of SchoolsList">
                      <td>{{School.schoolName}}</td>
                      <td>{{School.code}} </td>
                      <td>{{School.address}}</td>
                      <td>{{School.registeredDate  | date:'dd-MM-yyyy'}}</td>
                      <td>
                        <div class="actions">
                          <!-- <button type="button" class="btn btn-sm btn-success" routerLink="/School-profile/{{School.id}}">
                            <i class="fa fa-eye"></i>
                          </button> -->
                          <button type="button" class="btn btn-sm btn-primary" (click)="createEditForm(schoolmodal, School)">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-danger" (click)="deleteSchool(School)">
                            <i class="fa fa-close"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng-template #schoolmodal>
    <div class="modal-header modal-info ">
      <h4 class="modal-title pull-left">Add School</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="schoolForm" class="custom-form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">School Name</label>
              <input type="text" class="form-control" formControlName="schoolName" required>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">School Code</label>
                    <input type="text" class="form-control" formControlName="code" required>
                  </div>
              <!-- <div class="form-group">
                <label class="control-label">School Logo</label>
                <input type="file" class="form-control" formControlName="logo"> 
              </div> -->
              </div>
              <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Registration Date</label>
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="placeholder" formControlName="registeredDate" required></my-date-picker>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">School Address</label>
              <textarea class="form-control" formControlName="address" rows="4" cols="5" required></textarea>
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Country</label>
                <select class="form-control" formControlName="country" 
                (change)="changeCountry(country.value)" required>
                  <option value=""> Select Country</option>
                  <option *ngFor="let ctry of countriesList" [value]="ctry.code" >
                    {{ctry.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">State</label>
              <select class="form-control" formControlName="state" 
                      (change)="changeState(state.value)" required>
                <option value=""> Select State</option>
                <option *ngFor="let ste of statesList" [value]="ste.name">
                  {{ste.name}}
                </option>
              </select>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label class="control-label">City</label>
                  <input type="text" class="form-control" formControlName="city" required>
                </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">District</label>
              <select class="form-control" formControlName="district" required> 
                <option value=""> Select District</option>
                <option *ngFor="let dst of districtsList" [value]="dst.name">
                  {{dst.name}}
                </option>
              </select>
          </div>
          </div>
        </div>
        <div class="main-body">
          <h4 class="main-heading br-top br-bottom">Admin Details</h4>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">User Name</label>
              <input type="text" class="form-control" formControlName="userName" required>
            </div>
          </div>
        </div>
       
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Email</label>
              <input type="text" class="form-control" formControlName="email" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Mobile</label>
              <input type="text" class="form-control" formControlName="mobile" required>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-12 alert alert-warning" *ngIf="error">
      <strong>info!</strong> {{error}}
    </div>
    <div class="modal-footer">
      <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-success" *ngIf="!showUpdateButton" [disabled]="schoolForm.invalid" (click)="saveSchoolForm(schoolForm)">Submit</button>
      <button type="button" class="btn btn-success" *ngIf="showUpdateButton" [disabled]="schoolForm.invalid" (click)="updateSchoolForm(schoolForm)">Update</button>
    </div>
  </ng-template>
</div>