<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Examination</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal(exams)">
                <i class="fa fa-plus"></i> Create Test </button>
            </div>
          </div>
          <div class="box-body">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#tab_1" data-toggle="tab">Create Examination</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                  <div class="row mt-10">
                    <div class="col-md-12">
                      <form novalidate [formGroup]="examinationForm" class="custom-form">
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control" formControlName="classCode" (change)="onClassChange($event.target.value)">
                              <option value="">Select Class</option>
                              <option *ngFor="let class of classList" [value]="class._id">
                                {{class.className}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control" formControlName="subjectCode">
                              <option value="">Select Subject</option>
                              <option *ngFor="let subj of subjectsList" [value]="subj._id">
                                {{subj.subjectName}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control" formControlName="examType">
                              <option value="">Exam Type</option>
                              <option *ngFor="let exam of examsList" [value]="exam.testName">
                                {{exam.testName}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <button type="button" class="btn btn-success" (click)="enterStudentMarks(examinationForm)">Enter</button>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-12" *ngIf="showStudentsList" style="padding: 20px 30px;">
                      <div class="box">
                        <div class="box-header with-border bg-info">
                          <h3 class="box-title">Enter Marks -- {{examType}}</h3>
                        </div>
                        <div class="box-body">
                          <div class="row">
                            <div class="col-sm-12">
                              <table class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                                    <th>Student Name</th>
                                    <th>Roll Number</th>
                                    <th>Obtained Marks</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let student of studentList">
                                    <td> {{student.name}}</td>
                                    <td> {{student.rollNumber}}</td>
                                    <td>
                                      <input type="number" class="form-control" [(ngModel)]="student.marks">
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="col-md-12">
                              <button type="button" class="btn btn-success pull-right" (click)="saveStudentMarks(studentList)">Save Marks</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #exams>
      <div class="modal-header modal-info ">
        <h4 class="modal-title pull-left">Create Test</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="testForm" class="custom-form" autocomplete="off">
          <div class="row">
            <div class="col-md-6 col-md-offset-2">
              <div class="form-group">
                <label class="control-label"> Test Name</label>
                <input type="text" class="form-control" formControlName="testName">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
        <button type="button" class="btn btn-success" [disabled]="examinationForm.invalid" (click)="createExam(testForm)">Create Test</button>
      </div>
    </ng-template>
  </section>
</div>