<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{userImage}}" class="img-circle" alt="User Image" *ngIf="userImage">
      </div>
      <div class="pull-left info">
        <p id="studentInfoName">{{name}}</p>
        <a href="#">
          <i class="fa fa-circle text-success"></i> {{roleType}}</a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li *ngFor="let router of menuList" routerLinkActive="active">
        <a routerLink="/{{router.routerLink}}" *ngIf="router.roles.indexOf(userRole) !== -1 ">
          <i class="{{router.icon}}"></i>
          <span>{{router.displayName}}</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>