<div class="content-wrapper">
  <section class="content">
    <div class="row"  *ngIf="userRole==101">
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Class List</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal(classModal)">
                <i class="fa fa-plus"></i> Add Class </button>
            </div>
          </div>
          <div class="box-body">
            <div class="row" >
              <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Class Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="classList.length === 0 ">
                      <td colspan="3">
                        <div class="text-center">No Classes Added</div>
                      </td>
                    </tr>
                    <tr *ngFor="let class of classList; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{class.className}}</td>
                      <td>
                        <div class="actions">
                          <button type="button" class="btn btn-sm btn-primary" (click)="editClass(class, classModal)">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-danger" (click)="removeEntity(deleteModal, class, 'Class')">
                            <i class="fa fa-close"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Subject List</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal(subjectModal)">
                <i class="fa fa-plus"></i> Add Subjects </button>
            </div>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Subject Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="subjectList.length === 0 ">
                      <td colspan="3">
                        <div class="text-center">No Subjects Added</div>
                      </td>
                    </tr>
                    <tr *ngFor="let subject of subjectList; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{subject.subjectName}}</td>
                      <td>
                        <div class="actions">
                          <button type="button" class="btn btn-sm btn-primary" (click)="editSubject(subject, subjectModal)">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-danger" (click)="removeEntity(deleteModal, subject, 'Subject')">
                            <i class="fa fa-close"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hours List start -->
    <div class="row" *ngIf="userRole==102">
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Hours</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal(hourModal)">
                <i class="fa fa-plus"></i> Add Hour</button>
            </div>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Hour Name</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="hourList.length === 0 ">
                      <td colspan="5">
                        <div class="text-center">No Hours Added</div>
                      </td>
                    </tr>
                    <tr *ngFor="let hour of hourList; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{hour.hourName}}</td>
                      <td>{{hour.startTime | date: 'hh:mm a'}}</td>
                      <td>{{hour.endTime | date: 'hh:mm a'}}</td>
                      <td>
                        <div class="actions">
                          <button type="button" class="btn btn-sm btn-primary" (click)="editHour(hour, hourModal)">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-danger" (click)="removeEntity(deleteModal,hour,'Hour')">
                            <i class="fa fa-close"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hours List end -->
  </section>
  <ng-template #deleteModal>
    <div class="modal-body">
      <div class="row">
        <h4 class="modal-title text-center mt-20">Are you sure, you want to delete {{entityType}} ?</h4>
      </div>
    </div>
    <div class="modal-footer mt-20">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteEntity(deleteRecord, entityType)">Delete</button>
      </div>
    </div>
  </ng-template>
  <ng-template #classModal>
    <div class="modal-header modal-info ">
      <h4 class="modal-title pull-left">Add Classes</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="classForm" class="custom-form">
        <div class="row">
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
              <label class="control-label m5">Class Name</label>
              <input type="text" class="form-control" formControlName="className" [(ngModel)]="className" required>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-success" [disabled]="classForm.invalid || disableButton" *ngIf="!showUpdateButton" (click)="addClass(classForm)">Submit</button>
      <button type="button" class="btn btn-success" [disabled]="classForm.invalid" *ngIf="showUpdateButton" (click)="updateClass(classForm)">Update</button>
    </div>
  </ng-template>
  <ng-template #subjectModal>
    <div class="modal-header modal-info ">
      <h4 class="modal-title pull-left">Add Subject</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="subjectForm" class="custom-form">
        <div class="row">
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
              <label class="control-label m5">Subject Name</label>
              <input type="text" class="form-control" formControlName="subjectName" [(ngModel)]="subjectName" required>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-success" [disabled]="subjectForm.invalid || disableButton" *ngIf="!showUpdateButton" (click)="addSubject(subjectForm)">Submit</button>
      <button type="button" class="btn btn-success" [disabled]="subjectForm.invalid" *ngIf="showUpdateButton" (click)="updateSubject(subjectForm)">Update</button>
    </div>
  </ng-template>
<!-- Period Modal start -->
  <ng-template #hourModal>
    <div class="modal-header modal-info ">
      <h4 class="modal-title pull-left">Add Hours</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="alert alert-warning" *ngIf="error.length > 0"> {{error}}</div>
      <form novalidate [formGroup]="hourForm" class="custom-form">
        <div class="row">
          <div class="form-group">
            <div class="col-md-6">
              <label class="control-label m5">Hour Name</label>
              <input type="text" class="form-control" formControlName="hourName"  [(ngModel)]="hourName"  required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Start Time</label>
              <timepicker  formControlName="startTime"  [(ngModel)]="startTime" required></timepicker>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">End Time</label>
              <timepicker  formControlName="endTime"  [(ngModel)]="endTime" required></timepicker>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-success" [disabled]="hourForm.invalid || disableButton" *ngIf="!showUpdateButton" (click)="addHour(hourForm)">Add Hour</button>
      <button type="button" class="btn btn-success" [disabled]="hourForm.invalid" *ngIf="showUpdateButton" (click)="updateHour(hourForm)">Update Hour</button>
    </div>
  </ng-template>

  <!-- Period Modal end -->
</div>