<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-xs-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Class List</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal(classModal)">
                <i class="fa fa-plus"></i> Add Class </button>
            </div>
          </div>
          <div class="box-body table-responsive">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Class Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>First</td>
                      <td>
                        <div class="actions">
                          <button type="button" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-danger">
                            <i class="fa fa-close"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Subject List</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal(subjectModal)">
                <i class="fa fa-plus"></i> Add Subjects </button>
            </div>
          </div>
          <div class="box-body table-responsive">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Subject Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>3</td>
                      <td>English</td>
                      <td>
                        <div class="actions">
                          <button type="button" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-danger">
                            <i class="fa fa-close"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng-template #classModal>
    <div class="modal-header modal-info ">
      <h4 class="modal-title pull-left">Add Classes</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="classForm" class="custom-form">
        <div class="row">
          <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
              <label class="control-label m5">Class Name</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" formControlName="className" required>
            </div>
          </div>
        </div>


      </form>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-success" [disabled]="classForm.invalid" (click)="onSubmit(classForm)">Submit</button>
    </div>
  </ng-template>
</div>