<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-xs-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Class List</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal(classModal)">
                <i class="fa fa-plus"></i> Add Class </button>
            </div>
          </div>
          <div class="box-body table-responsive">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Class Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let class of classList">
                      <td>{{class.id}}</td>
                      <td>{{class.className}}</td>
                      <td>
                        <div class="actions">
                          <button type="button" class="btn btn-sm btn-primary" (click)="editClass(class, classModal)">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-danger">
                            <i class="fa fa-close"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Subject List</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm" (click)="openModal(subjectModal)">
                <i class="fa fa-plus"></i> Add Subjects </button>
            </div>
          </div>
          <div class="box-body table-responsive">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Subject Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let subject of subjectList">
                      <td>{{subject.id}}</td>
                      <td>{{subject.subjectName}}</td>
                      <td>
                        <div class="actions">
                          <button type="button" class="btn btn-sm btn-primary" (click)="editSubject(subject, subjectModal)">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-danger">
                            <i class="fa fa-close"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng-template #classModal>
    <div class="modal-header modal-info ">
      <h4 class="modal-title pull-left">Add Classes</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="classForm" class="custom-form">
        <div class="row">
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
              <label class="control-label m5">Class Name</label>
              <input type="text" class="form-control" formControlName="className" [(ngModel)]="className" required>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-success" [disabled]="classForm.invalid" (click)="saveClass(classForm)">Submit</button>
    </div>
  </ng-template>
  <ng-template #subjectModal>
      <div class="modal-header modal-info ">
        <h4 class="modal-title pull-left">Add Subject</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate [formGroup]="subjectForm" class="custom-form">
          <div class="row">
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                <label class="control-label m5">Subject Name</label>
                <input type="text" class="form-control" formControlName="subjectName" [(ngModel)]="subjectName" required>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
        <button type="button" class="btn btn-success" [disabled]="subjectForm.invalid" (click)="saveSubject(subjectForm)">Submit</button>
      </div>
    </ng-template>
</div>