<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Institutes List</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-info btn-sm" (click)="createEditForm(instituteModal, '')">
                <i class="fa fa-plus"></i> INTITUTES </button>
            </div>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-3 pull-right">
                <input #instituteSearch type="text" class="form-control" pInputText size="50" placeholder="Search Institute">
              </div>
              <div class="col-sm-12 mt-10">
                <p-dataTable [value]="instituteList" [globalFilter]="instituteSearch" #dt [rows]="20" [paginator]="true" sortMode="multiple" resizableColumns="true" columnResizeMode="expand">
                  <p-column field="instituteName" header="INST Name" [sortable]="true"></p-column>
                  <p-column field="code" header=" Code" [sortable]="true"></p-column>
                  <p-column field="address" header=" Address" [sortable]="true"></p-column>
                  <p-column field="schoolsRegistered" header="Schools" [sortable]="true"></p-column>
                  <p-column field="userName" header="Admin" [sortable]="true"></p-column>
                  <p-column field="email" header="Email" [sortable]="true"></p-column>
                  <p-column field="mobile" header="Mobile" [sortable]="true"></p-column>
                  <p-column field="registeredDate" header="Registered On" [sortable]="true">
                    <ng-template let-col let-institute="rowData" pTemplate="body">
                      <span>{{institute.registeredDate | date:'dd-MM-yyyy'}}</span>
                    </ng-template>
                  </p-column>
                  <p-column styleClass="col-button">
                    <ng-template pTemplate="header">
                      Actions
                    </ng-template>
                    <ng-template let-institute="rowData" pTemplate="body">
                      <button type="button" class="btn btn-sm btn-primary" (click)="createEditForm(instituteModal, institute)">
                        <i class="fa fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-danger" (click)="deleteInstitute(deleteModal, institute)">
                        <i class="fa fa-close"></i>
                      </button>
                    </ng-template>
                  </p-column>
                </p-dataTable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng-template #deleteModal>
    <div class="modal-body">
      <div class="row">
        <h4 class="modal-title text-center mt-20">Are you sure, you want to delete?</h4>
      </div>
    </div>
    <div class="modal-footer mt-20">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="removeInstitute(deleteRecord)">Delete</button>
      </div>
    </div>
  </ng-template>
  <ng-template #instituteModal>
    <div class="modal-header modal-info ">
      <h4 class="modal-title pull-left">Add Institute</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="instituteform" class="custom-form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Institute Name</label>
              <input type="text" class="form-control" formControlName="instituteName" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Institute Code</label>
              <input type="text" class="form-control" formControlName="code" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Registration Date</label>
              <my-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="placeholder" formControlName="registeredDate"
                required></my-date-picker>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Institute Address</label>
              <textarea class="form-control" formControlName="address" rows="4" cols="5" required></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Country</label>
              <select class="form-control" formControlName="country" (chaninstituteAdminNamege)="changeCountry(country.value)" required>
                <option value=""> Select Country</option>
                <option *ngFor="let ctry of countriesList" [value]="ctry.code">
                  {{ctry.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">State</label>
              <select class="form-control" formControlName="state" (change)="changeState(state.value)" required>
                <option value=""> Select State</option>
                <option *ngFor="let ste of statesList" [value]="ste.name">
                  {{ste.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">City</label>
              <input type="text" class="form-control" formControlName="city" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">District</label>
              <select class="form-control" formControlName="district" required>
                <option value=""> Select District</option>
                <option *ngFor="let dst of districtsList" [value]="dst.name">
                  {{dst.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="main-body">
          <h4 class="main-heading br-top br-bottom">Admin Details</h4>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">User Name</label>
              <input type="text" class="form-control" formControlName="userName" (change)="instititeAvailStaus($event)" required [readonly]="showEditForm">
            </div>
            <div class="col-xs-6 alert alert-warning" *ngIf="instAvailStaus.length > 0">
              {{instAvailStaus}}
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{
              'has-error': instituteform.controls['email'].invalid && instituteform.controls['email'].dirty, 
              'has-success': instituteform.controls['email'].valid && instituteform.controls['email'].dirty 
            }">
              <label class="control-label">Email</label>
              <input type="text" class="form-control" formControlName="email" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{
              'has-error': instituteform.controls['mobile'].invalid && instituteform.controls['mobile'].dirty, 
              'has-success': instituteform.controls['mobile'].valid && instituteform.controls['mobile'].dirty 
            }">
              <label class="control-label">Mobile</label>
              <input type="text" class="form-control" formControlName="mobile" required>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-12 alert alert-warning" *ngIf="error">
      <strong>info!</strong> {{error}}
    </div>
    <div class="modal-footer">
      <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-success" *ngIf="!showEditForm" [disabled]="instituteform.invalid" (click)="saveInstituteForm(instituteform)">Submit</button>
      <button type="button" class="btn btn-success" *ngIf="showEditForm" [disabled]="instituteform.invalid" (click)="updateInstituteForm(instituteform)">Update</button>
    </div>
  </ng-template>
</div>