<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Institutes List</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-info btn-sm" (click)="openModal(institute)">
                <i class="fa fa-plus"></i> INTITUTES </button>
            </div>
          </div>
          <div class="box-body table-responsive">
            <div class="row">
              <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Institute Name</th>
                      <th>Institute Code</th>
                      <th>Institute Address</th>
                      <th>Schools Registered</th>
                      <th>Admin</th>
                      <th>Email</th>
                      <th>Mobile</th>
                      <th>Registered On</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let institute of instituteList">
                      <td>{{institute.instituteName}}</td>
                      <td>{{institute.code}} </td>
                      <td>{{institute.address}}</td>
                      <td>{{institute.schoolsRegistered}}</td>
                      <td>{{institute.userName}}</td>
                      <td>{{institute.email}}</td>
                      <td>{{institute.mobile}}</td>
                      <td>{{formatDate(institute.registeredDate)}}</td>
                      <td>
                        <div class="actions">
                          <!-- <button type="button" class="btn btn-sm btn-success" routerLink="/institute-profile/{{institute.id}}">
                            <i class="fa fa-eye"></i>
                          </button> -->
                          <button type="button" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-sm btn-danger">
                            <i class="fa fa-close"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng-template #institute>
    <div class="modal-header modal-info ">
      <h4 class="modal-title pull-left">Add Institute</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="instituteform" class="custom-form">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Institute Name</label>
              <input type="text" class="form-control" formControlName="instituteName" required>
            </div>
            <div class="form-group">
              <label class="control-label">Institute Code</label>
              <input type="text" class="form-control" formControlName="code" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Institute Logo</label>
              <input type="file" class="form-control" formControlName="logo">
              <!-- <ng4-files-click (filesSelect)="uploadImage($event)" [configId]="'institute-logo'">
                <span class="btn btn-primary">Browse Image</span>
              </ng4-files-click> -->
            </div>
            <div class="form-group">
              <label class="control-label">Registration Date</label>
              <my-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="placeholder" formControlName="registeredDate"></my-date-picker>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Institute Address</label>
              <textarea class="form-control" formControlName="address" rows="4" cols="5" required></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">City</label>
              <input type="text" class="form-control" formControlName="city" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">District</label>
              <input type="text" class="form-control" formControlName="district" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">State</label>
              <input type="text" class="form-control" formControlName="state" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Country</label>
              <input type="text" class="form-control" formControlName="country" required>
            </div>
          </div>
        </div>
        <div class="main-body">
          <h4 class="main-heading br-top br-bottom">Admin Details</h4>
        </div>

        <div class="row">
          <!-- <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Admin Name</label>
              <input type="text" class="form-control" formControlName="instituteAdminName" required>
            </div>
          </div> -->
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">User Name</label>
              <input type="text" class="form-control" formControlName="userName" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Password</label>
              <input type="text" class="form-control" formControlName="password" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Email</label>
              <input type="text" class="form-control" formControlName="email" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Mobile</label>
              <input type="text" class="form-control" formControlName="mobile" required>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-12 alert alert-warning" *ngIf="error">
      <strong>info!</strong> {{error}}
    </div>
    <div class="modal-footer">
      <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-success" [disabled]="instituteform.invalid" (click)="onSubmit(instituteform)">Submit</button>
    </div>
  </ng-template>
</div>