<header class="main-header">
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <a class="inst-logo">
      MAVIBA EDU
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img [src]="croppedImage" class="user-image" alt="User Image">
            <span class="hidden-xs">{{name}}</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <div class="upload-profile">
                <input id="file-upload" type="file" name="fileUpload" accept="image/*" (change)="fileChangeEvent($event, modal)" />
                <label for="file-upload" id="file-upload-text">
                  <img [src]="croppedImage" class="img-circle" alt="User Image" style="width: 100px;">
                  <div class="hover-text">
                    <span>Change Logo</span>
                  </div>
                </label>
              </div>
              <p>
                {{name}} 
                <small>{{roleType}}</small>
              </p>

            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a (click)="onLogout()" class="btn btn-default btn-flat">Logout</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <ng-template #modal>
    <div class="modal-header modal-info ">
      <h4 class="modal-title pull-left">Upload Profile Image</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-7">
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4" [resizeToWidth]="128"
            format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
        <div class="col-md-4">
          <div class="" style="font-size: 16px; margin-bottom: 15px;">Selected Image</div>
          <img [src]="croppedImage" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-success" (click)="uloadImage()">Upload</button>
    </div>
  </ng-template>
</header>