<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <section class="content-header">
        <div class="row">
          <div class="col-md-6">
            <div class="breadcrumb-heading">
              Leave Management
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Leave Management</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm" (click)="createEditLeave(leaveModal, '')">
                <i class="fa fa-plus"></i> APPLY LEAVE </button>
            </div>
          </div>
          <div class="box-body">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active" *ngIf="userRoleType !== 101">
                  <a href="#leaveList" data-toggle="tab">Leave List</a>
                </li>
                <li *ngIf="userRoleType !== 104 && userRoleType !== 105 ">
                  <a href="#approveList" data-toggle="tab" (click)="showLeaveApproveList()" id="getApproveList">Leaves To Be Approve</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="leaveList" *ngIf="userRoleType !== 101">
                  <div class="row">
                    <div class="col-md-3 pull-right">
                      <input #leaveSearch type="text" class="form-control" pInputText size="50" placeholder="Search Leaves">
                    </div>
                    <div class="col-sm-12 mt-10">
                      <p-dataTable [value]="leavesList" [globalFilter]="leaveSearch" #dt [rows]="10" [paginator]="true" sortMode="multiple">
                        <p-column field="fromDate" header="From Date" [sortable]="true">
                          <ng-template let-col let-leaveList="rowData" pTemplate="body">
                            <span>{{leaveList.fromDate | date:'dd-MM-yyyy'}}</span>
                          </ng-template>
                        </p-column>
                        <p-column field="toDate" header="To Date" [sortable]="true">
                          <ng-template let-col let-leaveList="rowData" pTemplate="body">
                            <span>{{leaveList.toDate | date:'dd-MM-yyyy'}}</span>
                          </ng-template>
                        </p-column>
                        <p-column field="reason" header="Reason" [sortable]="true"></p-column>
                        <p-column field="status" header="Status" [sortable]="true"></p-column>
                        <p-column styleClass="col-button">
                          <ng-template pTemplate="header">
                            Actions
                          </ng-template>
                          <ng-template let-leaveList="rowData" pTemplate="body">
                            <div class="actions" *ngIf="leaveList.rejectedBy.length <= 0 &&  leaveList.deletedBy.length <= 0 && leaveList.approvedBy.length <= 0">
                              <button type="button" class="btn btn-sm btn-primary" (click)="createEditLeave(leaveModal, leaveList)">
                                <i class="fa fa-edit"></i>
                              </button>
                              <button type="button" class="btn btn-sm btn-danger" (click)="deleteLeaveInfo(deleteModal, leaveList)">
                                <i class="fa fa-close"></i>
                              </button>
                            </div>
                          </ng-template>
                        </p-column>
                      </p-dataTable>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="approveList" *ngIf="showLeaveApprovedList">
                  <div class="row">
                    <div class="col-md-3 pull-right">
                      <input #approveSearch type="text" class="form-control" pInputText size="50" placeholder="Search Approved Leaves">
                    </div>
                    <div class="col-sm-12 mt-10">
                      <p-dataTable [value]="approveLeavesList" [globalFilter]="approveSearch" #dt [rows]="10" [paginator]="true" sortMode="multiple">
                        <p-column field="fromDate" header="From Date" [sortable]="true">
                          <ng-template let-col let-approveList="rowData" pTemplate="body">
                            <span>{{approveList.fromDate | date:'dd-MM-yyyy'}}</span>
                          </ng-template>
                        </p-column>
                        <p-column field="toDate" header="To Date" [sortable]="true">
                          <ng-template let-col let-approveList="rowData" pTemplate="body">
                            <span>{{approveList.toDate | date:'dd-MM-yyyy'}}</span>
                          </ng-template>
                        </p-column>
                        <p-column field="reason" header="Reason" [sortable]="true"></p-column>
                        <p-column field="status" header="Status" [sortable]="true"></p-column>
                        <p-column styleClass="col-button">
                          <ng-template pTemplate="header">
                            Actions
                          </ng-template>
                          <ng-template let-approveList="rowData" pTemplate="body">
                            <div class="actions" *ngIf="approveList.deletedBy.length <= 0 ">
                              <button type="button" class="btn btn-sm btn-success" (click)="approveLeave(approveList)">
                                <i class="fa fa-check"></i>
                              </button>
                              <button type="button" class="btn btn-sm btn-danger" (click)="rejectLeave(approveList)">
                                <i class="fa fa-close"></i>
                              </button>
                            </div>
                          </ng-template>
                        </p-column>
                      </p-dataTable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng-template #deleteModal>
    <div class="modal-body">
      <div class="row">
        <h4 class="modal-title text-center mt-20">Are you sure, you want to delete?</h4>
      </div>
    </div>
    <div class="modal-footer mt-20">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="removeLeaveRecord(deleteLeaveRecord)">Delete</button>
      </div>
    </div>
  </ng-template>

  <ng-template #leaveModal>
    <div class="modal-header modal-info ">
      <h4 class="modal-title pull-left">Apply Leave</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate [formGroup]="leaveForm" class="custom-form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label"> Reason
                <span class="text-danger">*</span>
              </label>
              <textarea class="form-control" formControlName="reason" rows="4" cols="5" required></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">From Date
                <span class="text-danger">*</span>
              </label>
              <my-date-picker [options]="myDatePickerOptions" [placeholder]="placeholder" formControlName="fromDate" required></my-date-picker>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">To Date
                <span class="text-danger">*</span>
              </label>
              <my-date-picker [options]="myDatePickerOptions" [placeholder]="placeholder" formControlName="toDate" required></my-date-picker>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-12 alert alert-warning" *ngIf="error">
      <strong>info!</strong> {{error}}
    </div>
    <div class="modal-footer">
      <button type="button" id="closeInstForm" class="btn btn-default" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-success" *ngIf="!showEditForm" [disabled]="leaveForm.invalid || disableButton" (click)="applyLeave(leaveForm)">Apply Leave</button>
      <button type="button" class="btn btn-success" *ngIf="showEditForm" [disabled]="leaveForm.invalid || disableButton" (click)="updateLeave(leaveForm)">Update Leave</button>
    </div>
  </ng-template>
</div>