/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
body { 
  font-family: 'proxima_nova_rgregular','Helvetica','Arial,sans-serif';
  font-size: 14px;
}
.m5 {
  margin:5px 0;
}
.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.pd-15 {
  padding: 15px;
}
.pad-btm-10 {
  padding-bottom: 10px;
}
.p-col-txt-center {
  text-align: center;
}
.login-box {
  width: 400px;
}
.login-box-body {
  border-radius: 5px;
  background: hsla(0,0%,100%,.8);
}

.login-page {
  background-image: url(assets/images/login-register.jpg) !important;
}
.login-logo {
  margin-bottom: 15px;
  font-weight: 400;
  letter-spacing: .16rem;
  text-transform: uppercase;
}
.login-btn {
  padding: 10px;
}
.recover-link {
  margin-top: 7px;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none;
}
li.active > a {
  text-decoration: none;
}

.box {
  border-top: 0;
}
.alert {
  padding: 8px 15px;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, 
.skin-blue .left-side, 
.skin-blue .main-header .navbar, 
.btn-info, .btn-primary, 
.modal-info, .bg-info,
.btn-info:hover {
  background: #002c77 !important;
}
.close, .close:hover, .close:focus {
  color: #fff;
  text-shadow: none;
  opacity: 1;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
  background: #063c92;
}

.table-responsive {
  border: none;
}
.content-wrapper, .right-side {
  background-color: #006d9e;
}
.skin-blue .content-header, .content-header > .breadcrumb > li > a, .breadcrumb > .active {
  color: #fff;
}
/******************* Checkbox *******************/
.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: block;
  padding-left: 5px;
  position: relative;
}
.checkbox label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 1px;
  border: 1px solid rgba(120, 130, 140, 0.13);
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  top: 3px;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none;
}
.checkbox label::after {
  color: #263238;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: 3px;
  width: 16px;
}
.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  position: absolute;
  left: 0px;
  outline: none;
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #f2f4f8;
  cursor: not-allowed;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #2196F3;
  border-color: #2196F3;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.scroll-box {
  height: 320px !important;
  overflow: auto;
}
.scroll-footer {
  padding: 17px !important;
}


.breadcrumb-heading {
  font-size: 24px;
}
.content-header {
  position: relative;
  padding: 15px 15px 0 15px;
  margin-bottom: 15px;
}
.custom-form .form-group {
  margin-bottom: 5px;
}
.br-top {
  border-top: 1px solid #aaaaaa;
}
.br-bottom {
  border-bottom: 1px solid #aaaaaa;
}
label.control-label {
  color: #777777;
  font-weight: 500;
}
button.btnpicker.btnpickerenabled {
  border-left: 1px solid #bbb;
  background: #bbb;
  color: #fff;
}
.bg-color {
  background: #002c77;
  color: #ffffff;
}
.modal-info, .bg-info {
  background: #3c8dbc;
  color: #fff;
}
.main-heading {
  padding: 10px 0;
  margin-bottom: 10px;
}
td.day-heading {
  background: #f9f9f9;
  line-height: 7 !important;
  text-align: center;
  border-right: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
}
.periods-list {
  background: #fff;
  min-height: 100px;
  padding: 7px 10px;
  line-height: 2;
}
.modal-body label {
  font-weight: bold;
  color: #000000;
}
/* upload profile css start */
.upload-profile input[type="file"] {
  display: none !important;
}
.upload-profile {
  position: relative;
  display: inline-block; 
  overflow: hidden; 
}
label#file-upload-text {
  margin-bottom: 0;
}
.upload-profile img:hover {
  opacity: 0.5
}
.upload-profile:hover .hover-text {
  opacity: 1; 
  top: 0; 
  z-index: 500;
}

.upload-profile:hover .hover-text span {
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.upload-profile .hover-text {
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

img.source-image {
  height: 200px;
  width: 190px;
}

.toast-container.toast-top-full-width .toast, .toast-container.toast-bottom-full-width .toast {
  width: 100% !important;
  height: 40px;
  padding: 10px 50px;
  border-radius: 0;
}

.ng-busy-default-sign {
  background: none !important;
  border: 0px !important;
  box-shadow: none !important;
}
.ng-busy-default-spinner {
  width: 50px !important;
  height: 50px !important;
  position: fixed !important;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td {
  font-weight: 600;
  padding: 8px;
  text-align: left;
  outline: none;
}

.ui-datatable .ui-sortable-column-icon {
  float: right;
}
.ui-paginator-pages, .ui-paginator .ui-paginator-next, 
.ui-paginator .ui-paginator-last, 
.ui-paginator .ui-paginator-first, 
.ui-paginator .ui-paginator-prev, 
.ui-paginator .ui-paginator-current, 
.ui-paginator .ui-paginator-page.ui-state-active,
a.ui-paginator-page.ui-paginator-element.ui-state-default.ui-corner-all.ng-star-inserted {
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
}

.ui-paginator .ui-paginator-page.ui-state-active,
a.ui-paginator-page.ui-paginator-element.ui-state-default.ui-corner-all.ng-star-inserted  {
  margin-top: -7px;
}
.ui-datatable .ui-paginator-bottom {
  text-align: right;
  background: #ffffff;
}
.ui-paginator .ui-dropdown {
  min-width: 6em;
  float: left;
  height: 2.5em;
  line-height: 1.8em;
  text-align: left;
  outline: none;
  padding-left: 5px;
  margin-left: 0;
}
.ui-datatable .ui-datatable-thead>tr>th, 
.ui-datatable .ui-datatable-tfoot>tr>td, 
.ui-datatable .ui-datatable-data>tr>td {
  padding: 0.8em .5em;
}
td.ui-datatable-emptymessage {
  text-align: center;
}
.modal-dialog.custom-modal {
  width: 400px;
}
/* upload profile css end */

