<div class="content-wrapper" >
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Attendance</h3>
          </div>
          <div class="box-body">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active" *ngIf="userRoleType !=104">
                  <a href="#tab_1" data-toggle="tab"  id="_tab1">Take Attendance</a>
                </li>
                <li>
                  <a href="#tab_2" data-toggle="tab" id="_tab2">View Attendance</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                  <div class="row mt-10">
                    <div class="col-md-12">
                      <form novalidate [formGroup]="attendanceForm" class="custom-form">
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control" formControlName="className" (change)="onClassChange($event.target.value)" required>
                              <option value="">Select Class</option>
                              <option *ngFor="let cls of classList" [value]="cls._id">
                                {{cls.className}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control" formControlName="subject" required>
                              <option value="">Select Subject</option>
                              <option *ngFor="let subj of subjectsList" [value]="subj._id">
                                {{subj.subjectName}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <my-date-picker name="mydate" [options]="takeAttendancedatePickerOptions" [placeholder]="placeholder" formControlName="selectDate" readonly required></my-date-picker>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <button type="button" class="btn btn-success" [disabled]="attendanceForm.invalid" (click)="getStudentsList(attendanceForm)">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row" *ngIf="studentList.length > 0">
                    <div class="col-sm-12">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Roll Number</th>
                            <th>Student Name</th>
                            <th>
                              <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAllStudents()"> Check All
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let student of studentList">
                            <td>{{student.rollNumber}}</td>
                            <td>{{student.name}}</td>
                            <td>
                              <input type="checkbox" [(ngModel)]="student.selected" (change)="checkAllSelected(student)">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-12" *ngIf="studentList.length !== 0">
                      <button type="button" class="btn btn-success pull-right" [disabled]="selectedStudent.length === 0" (click)="saveAttendance()">Save</button>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="tab_2">
                  <div class="row mt-10">
                    <div class="col-md-12">
                      <form novalidate [formGroup]="viewAttendanceForm" class="custom-form">
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control" formControlName="viewClassName"  (change)="onViewClassChange($event.target.value)"  required>
                              <option value="">Select Class</option>
                              <option *ngFor="let cls of classList" [value]="cls._id">
                                {{cls.className}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <select class="form-control" formControlName="viewSubject" required>
                              <option value="">Select Subject</option>
                              <option *ngFor="let subj of subjectsList" [value]="subj._id">
                                {{subj.subjectName}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <my-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="placeholder" formControlName="viewSelectDate" required></my-date-picker>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <button type="button" class="btn btn-success" [disabled]="viewAttendanceForm.invalid" (click)="viewAttendance(viewAttendanceForm)">Get Attendance</button>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-12" *ngIf="viewCurrentAttendance.length > 0" style="padding: 20px 30px;">
                      <div class="box">
                        <div class="box-header with-border bg-info">
                          <h3 class="box-title">View Attendance</h3>
                        </div>
                        <div class="box-body">
                          <div class="col-sm-12">
                            <!-- <div class="alert alert-warning" *ngIf="error">
                              {{error}}
                            </div> -->
                          </div>
                          <div class="col-sm-12">
                            <table class="table table-bordered table-striped">
                              <thead>
                                <tr>
                                  <th>Roll Number</th>
                                  <th>Name</th>
                                  <th>Attendance</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let roll of viewCurrentAttendance">
                                  <td>{{roll.rollNumber}}</td>
                                  <td>{{roll.studentName}}</td>
                                  <td>
                                    <span *ngIf="roll.rollNumber">P</span>
                                    <span *ngIf="!roll.rollNumber">A</span>
                                  </td>
                                </tr>
                                <!-- <tr *ngFor="let roll of viewCurrentAttendance">
                                      <td >{{roll.rollNumber}}</td>
                                    <td *ngFor="let stu of viewCurrentAttendance">
                                      <span *ngIf="stu.rollNumber">P</span>
                                      <span *ngIf="!stu.rollNumber">A</span>
                                    </td>
                                  </tr> -->
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>