<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Time Table</h3>
          </div>
          <div class="box-body">

            <div class="row">
              <form class="form-horizontal" [formGroup]="classForm">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">Select Class</label>
                  <div class="col-sm-2">
                    <select class="form-control" formControlName="selectedClass" (change)="getClassWiseTimeTable(selectedClass.value)">
                      <option value="">Select Class</option>
                      <option *ngFor="let class of classList" [value]="class._id">
                        {{class.className}}
                      </option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            
            <div class="row" *ngIf="error.length > 0" style="padding: 35px 45px;">
              <div class="alert alert-warning">
               {{error}}
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered" style="background: #efefef;" *ngIf="timeTableList.length !== 0">
                  <tbody>
                    <tr *ngFor="let ttl of timeTableList">
                      <td class="day-heading">
                        <div>{{ttl.dayName}}</div>
                      </td>
                      <td *ngFor="let hour of ttl.hoursList; let i = index">
                        <div class="periods-list" id="checkbox">
                        <div>{{hour.startTime | date:'hh:mm a'  }} - {{hour.endTime | date:'hh:mm a' }}</div>
                        <form class="form-horizontal" [formGroup]="timetableForm">
                          <div class="col-md-12">
                            <div class="form-group">
                              <select class="form-control" (change)="onSubjectChange($event.target.value, ttl.dayName, hour.hourName)">
                                <option value="">Select Subject</option>
                                <option *ngFor="let subj of hour.subjectsList"  [value]="subj._id">
                                  {{subj.subjName}}
                                </option>
                              </select>
                            </div>
                          </div>
                        </form>
                      </div>
                      </td> 
                    </tr>
                    <tr>
                      <td><button (click)="saveTimeTableInfo()" class="btn btn-success">Save</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>