<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">Change Password</h3>
          </div>
          <form novalidate [formGroup]="changePasswordForm" class="form-horizontal"  (ngSubmit)="changePaswword(changePasswordForm)">
          <div class="box-body">
            <div class="row" *ngIf="passwordMatchError">
              <div class="col-md-6">
                <div class="alert alert-danger alert-dismissible">
                  <div>
                    <i class="icon fa fa-bell"></i> {{passwordMatchError}}</div>
                </div>
              </div>
            </div>
            
              <div class="form-group">
                <label class="col-sm-2 control-label">Current Password</label>
                <div class="col-sm-4">
                  <input type="password" class="form-control" formControlName="currentPassword" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">New Password</label>
                <div class="col-sm-4">
                  <input type="password" class="form-control" formControlName="newPassword" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-4">
                  <input type="password" class="form-control" formControlName="confirmPassword" required>
                </div>
              </div>
          </div>
          <div class="box-footer">
            <div class="col-md-offset-2">
              <button type="submit" class="btn btn-success" [disabled]="changePasswordForm.invalid">Change Password</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </section>
</div>